/*-- BEGIN: General element rules --*/
.ir {
background-color:transparent;
border:0;
overflow:hidden;
text-indent:-9999px;
}

.ir:before {
content:"";
display:block;
width:0;
height:150%;
}

.hidden {
display:none!important;
visibility:hidden;
}

.visuallyhidden {
border:0;
clip:rect(0000);
height:1px;
overflow:hidden;
position:absolute;
width:1px;
margin:-1px;
padding:0;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
clip:auto;
height:auto;
overflow:visible;
position:static;
width:auto;
margin:0;
}

audio:not([controls]) {
display:none;
height:0;
}

html {
font-family:sans-serif;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

body {
background:#fff;
font-style:normal;
position:relative;
cursor:default;
color:#5b6064;
line-height:1.8em;
font-family:Roboto, sans-serif;
font-size:15px;
font-weight:300;
overflow:hidden;
overflow-y:scroll;
margin:0;
padding:0;
}

a:focus {
outline:thin dotted;
}

a:active,a:hover {
outline:0;
}

h1, h2, h3, h4 {
font-weight: 100;
line-height: 1.3em;
}

h1 {
font-size:2em;
margin:.67em 0;
}

abbr[title] {
border-bottom:1px dotted;
}

b,strong {
font-weight:700;
}

dfn {
font-style:italic;
}

hr {
-moz-box-sizing:content-box;
box-sizing:content-box;
height:0;
}

mark {
background:#ff0;
color:#000;
}

code,kbd,pre,samp {
font-family:monospace, serif;
font-size:1em;
}

pre {
white-space:pre-wrap;
}

q {
quotes:\201C \201D \2018 \2019;
}

small {
font-size:80%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

img {
border:0;
-ms-interpolation-mode:bicubic;
display:inline-block;
vertical-align:middle;
}

svg:not(:root) {
overflow:hidden;
}

fieldset {
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em;
}

button,input,select,textarea {
font-family:inherit;
font-size:100%;
margin:0;
}

button,input {
line-height:normal;
}

button,select {
text-transform:none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
-webkit-appearance:button;
cursor:pointer;
}

button[disabled],html input[disabled] {
cursor:default;
}

input[type="checkbox"],input[type="radio"] {
box-sizing:border-box;
padding:0;
}

input[type="search"] {
-webkit-appearance:textfield;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none;
}

textarea {
overflow:auto;
vertical-align:top;
height:auto;
min-height:50px;
}

table {
border-collapse:collapse;
border-spacing:0;
background:#fff;
margin-bottom:1.25em;
border:solid 1px #ddd;
}

html,body {
font-size:100%;
min-height:100%;
min-width:320px;
height:auto;
overflow:visible;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
display: block;
}
/*-- END: General element rules --*/

/*-- BEGIN: Common rules --*/
.z-max {
z-index: 9999;
}
.black-opaque{
background-color: #252525;
background: rgba(0, 0, 0, 0.8);
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
 
.clearfix {
display: inline-block;
}
 
html[xmlns] .clearfix {
display: block;
}
 
* html .clearfix {
height: 1%;
}
.bt{
border-top: #fff 1px solid;
}
.br{
border-right: #fff 1px solid;
}
.bb{
border-bottom: #fff 1px solid;
}
.bl{
border-left: #fff 1px solid;
}
/*-- END: Common rules --*/
.opening-header {
background: url('../images/opening_header_hd.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/opening_header_hd.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/opening_header_hd.jpg', sizingMethod='scale')";
min-width: 100%;
position: fixed;
top: 0;
left: 0;
width: 100%;
bottom: 0;
right: 0;
}
.cover {
margin-right: auto;
margin-left: auto;
height: 100%;
}
.cover h1, .cover h2, .cover p, .cover a {
color: white;
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
margin: 0px 45px;
}
.cover-quote{
height: 100%;
padding-top: 80px;
}
.cover h2{
margin-top: 50px;
}
#container {
background: #fff;
position: absolute;
right: 0;
left: 0;
box-shadow: 0px 0px 100px 30px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 0px 100px 30px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: 0px 0px 100px 30px rgba(0, 0, 0, 0.75);
transition: margin-top 0.8s;
-webkit-transition: margin-top 0.8s;
}
#content {
margin-left: auto;
margin-right: auto;
}
#content .bt, #content .br, #content .bb, #content .bl{
  border-color: #5b6064;
}
#top-bar {
-moz-box-sizing: content-box;
box-sizing: content-box;
min-width: 320px;
height: 46px;
top: 0;
width: 100%;
max-width: 100%;
border-bottom: 1px solid #e1e4e6;
}
#top-bar >div {
height: 100%;
float: left;
text-align: center;
}
.avatar{
width: 60px;
background-image: url('https://pbs.twimg.com/profile_images/2692016034/b455f6bddea46ef54c6ceb94f0e6fd17_normal.png');
background-repeat: no-repeat;
background-position: 10px 5px;
}
#top-bar .bt, #top-bar .br, #top-bar .bb, #top-bar .bl{
border-color: white;
}
.complete-name {
color: white;
padding: 0 15px;
}
#about-me {
position: relative;
margin-top:0;
padding-top: 50px;
}
.about-me-desc {
padding: 20px 0 20px 20px;
}
.about-me-desc p {
margin: 15px 0;
}
/*-- BEGIN: Desktop Mediaquery --*/
@media only screen and (min-width: 1201px){
  .cover h1{
  font-size:4em;
  line-height: 1.1em;
  font-weight: 200;
  padding-left: 35px;
  }
  .cover h2{
  font-size:2.5em;
  }
  .cover h2, .cover p{
  line-height: 1.2em;
  }
  .cover p{
  font-size:1.5em;
  }
  #content {
  width:1200px;
  }
  .complete-name {
  font-size: 2em;
  line-height: 1.8em;
  font-weight: 200;
  padding: 0 15px;
  }
  #about-me h2 {
  font-size: 3em;
  margin-bottom: 20px;
  }
  .about-me-desc {
  background-image: url('../images/aboutme/aboutme.png');
  background-position: 120% 47%;
  background-size: 1000px;
  background-repeat: no-repeat;
  }
  .about-me-desc p:nth-child(3){
  width: 580px;
  }
  .about-me-desc p:nth-child(4){
  width: 490px;
  }
  .about-me-desc p:nth-child(5){
  width: 390px;
  }
  .about-me-desc p:nth-child(6){
  width: 220px;
  }
}
@media only screen and (min-width: 768px){
  #top-bar {
  height: 59px;
  }
  section{
  margin-top: 6.5625em;
  margin-bottom: 6.5625em;
  }
/*-- END: Desktop Mediaquery --*/
}